<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<a href="/" class="navbar-brand">CHAT - DA GALERA</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="barraSuporte">
        <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="barraSuporte">
    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a href="" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Contatos</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Cadastro</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Entrar</a>
        </li>
    </ul>
</div>
</nav>